input[type="radio"]{
    padding: 10px;
    margin-left: 10px;
}
#submit{
    background-color:gainsboro; 
    margin-left: 10px;
}
#display{
    background-color:gainsboro;
    text-align: center;
}
h1{
    background-image: url("images/image4.jpg");
    z-index: 1;
}

#wrapper{
    background-image: none;
    background-color: rgb(252, 250, 250);
    padding: 10px;
    width: 80%;
    margin: auto;
}
